body {
    margin: 0.5rem;
    height: calc(100vh - 1rem);
}

#video {
    width: calc(100% - 20rem);
    height: 100%;
    object-fit: contain;
    object-position: right;
    float: right;
}

#controls {
    width: 20rem;
}

.door_button {
    width: 100%;
    height: min(calc(45vh - 4rem), 10rem);
    font-size: 3rem;
    margin-bottom: 1rem;
}

#resolution_select {
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    font-size: 1.5rem;
    width: 100%;
}

table{
    width: 100%;
}

td{
    padding: 0.25rem;
}

@media (max-aspect-ratio: 1/1) {
    body {
        width: calc(100vw - 1rem);
        height: initial;
    }

    #video {
        width: 100%;
        height: initial;
        float: initial;
    }

    .door_button {
        height: initial;
    }

    #controls {
        width: 100%;
    }
}