body {
    width: 30rem;
    margin: auto;
    margin-top: 2rem;
    font-family: sans-serif;
    text-align: center;
    color: gray;
}

a {
    color: gray;
}

td {
    padding: 0;
    vertical-align: middle;
}

table {
    width: 100%;
}

.uniform-table {
    table-layout: fixed;
}

#form {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

.btn {
    width: 100%;
    font-size: 1.25rem;
    height: 2.5rem;
    margin: 0;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to bottom, #6eb6de, #4a77d4);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn.active {
    color: rgba(255, 255, 255, 0.75);
    background-color: #4a77d4;
}

.btn:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #333333;
    text-decoration: none;
    background-color: #4a77d4;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    background-position: 0;
}

.btn.disabled,
.btn[disabled] {
    color: rgb(141, 138, 138);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    vertical-align: middle;
    background-color: #6eb6de;
    background-image: -moz-linear-gradient(top, #394b57, #3b6075);
    background-image: -ms-linear-gradient(top, #394b57, #3b6075);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#394b57), to(#3b6075));
    background-image: -webkit-linear-gradient(top, #394b57, #3b6075);
    background-image: -o-linear-gradient(top, #394b57, #3b6075);
    background-image: linear-gradient(top, #394b57, #3b6075);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 hsl(0, 0%, 90%);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #2c3a43;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-color: #4a77d4;
}

.large {
    font-size: 1.75rem;
    height: 3rem;
}

* {
    box-sizing: border-box;
}


body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
}

.input {
    height:2.5rem;
    width: 100%;
    padding: 0;
    font-size: 1.25rem;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

.input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

html {
    min-height: 100%;
}

.image {
    width: 2rem;
}


.form-table {
    margin-left:-2.2rem;
    margin-right:-2.2rem;
    width: calc(100% + 4.4rem);
}

.form-table td {
    padding-bottom: 1rem;
}

.login-register-table{
    padding-left: 2rem;
    padding-right: 1rem;
}

.login-register-table td {
    padding: 1rem;
    padding-left: 0;
}

.image-cell{
    width: 2rem;
}

.remember{
    text-align: left;
}

.remember-restore-table{
    margin-top: 1rem;
}

.language-image {
    margin-top: 0.5rem;
    width: 2rem;
}

.error-message{
    color:red;
    font-size: 1.5rem;
    display: block;
}

/* vertial orientation */
@media (max-aspect-ratio: 1/1) {
    body {
        width: 100%;
        margin-top: 2rem;
    }
}