{% extends "base.html" %}

{% block head %}
<title>WiFiVorota - Manual Control</title>
<link rel="stylesheet" href="/static/css/settings.css">
<script type="module" src="/static/js/direct_control.js"></script>
{% endblock %}

{% block content %}

{% include 'sidebar.html' %}

<img src="/static/back.png" id="back-button" onclick="window.location='/{{lang_code}}/camera_settings/'">


<table>
    <tr>
        <td colspan="2">
            <div id="remote_led"></div>
        </td>
    </tr>
    <tr>
        <td>
            <button class="remote_button" id="remote_btn1">1</button>
        </td>
        <td>
            <button class="remote_button" id="remote_btn2">2</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="remote_button" id="remote_btn3">3</button>
        </td>
        <td>
            <button class="remote_button" id="remote_btn4">4</button>
        </td>
    </tr>
</table>

{% endblock %}