{% extends "base.html" %}

{% block head %}
<title>WiFiVorota - Recover</title>
<link rel="stylesheet" href="/static/css/login.css">
<script src="/static/js/login.js"></script>
{% endblock %}

{% block content %}
<table class="login-register-table uniform-table">
    <tr>
        <td>
            <button class="btn" onclick="document.location='/{{lang_code}}/login/'"> {{recover.entrance_button}} </button>
        </td>
        <td>
            <button class="btn" onclick="document.location='/{{lang_code}}/register/'"> {{recover.register_button}} </button>
        </td>
    </tr>
</table>
<form id="form" method="POST">
    <table class="form-table">
        <tr>
            <td class="image-cell">
                <img src="/static/password.png" class="image">
            </td>
            <td>
                <input id="password-input" type="password" name="password" placeholder="{{new_password.password_text}}" class="input">
            </td>
            <td class="image-cell">
                <img src="/static/eye-open.png" class="image" onclick="return show_hide_password(this);">
            </td>
        </tr>
        <tr>
            <td class="image-cell">
                <img src="/static/password.png" class="image">
            </td>
            <td>
                <input type="password" name="password2" placeholder="{{new_password.password_again}}" class="input">
            </td>
            <td class="image-cell">
            </td>
        </tr>
    </table>
    <input type="submit" class="btn large" value="{{new_password.change_password}}" id="send_letter">
    <span class="error-message">{{error_message}}</span>
    <img src="/static/language.png" id="language-button" class="language-image">
</form>
{% endblock %}