{% extends "base.html" %}

{% block head %}
<title>WiFiVorota - Manual Control</title>
<link rel="stylesheet" href="/static/css/settings.css">
<script type="module" src="/static/js/programming.js"></script>
{% endblock %}

{% block content %}

{% include 'sidebar.html' %}

<img src="/static/back.png" id="back-button" onclick="window.location='/{{lang_code}}/camera_settings/'">


<table>
    <tr>
        <td>
            <select class="setting_input" id="button_select">
                <option value="">{{camera_settings.select_button_number}}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <select class="setting_input" id="type_select">
                <option value="">{{camera_settings.select_remote_type}}</option>
                <option value="complex">{{camera_settings.complex_type}}</option>
                <option value="standard">{{camera_settings.standard_type}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <button disabled class="setting_input btn" id="copy_btn">{{camera_settings.copy_from_remote}}</button>
        </td>
    </tr>
</table>

{% endblock %}